﻿body {
    max-width:1200px;
}

fieldset{
    width:420px;
}

legend{
    font-weight:normal;
}

.required:after 
{
    content: "*";
    font-weight: bold;
    color: red; 
    position:relative;
    display:inline-block;
}

.form-item label {
    display:block;
    font-weight:bold;
}

.form-item{
    margin:10px 0;
}

#first-name-wrapper, #legal-first-name-wrapper {
    float: left;
    margin-right: 15px;
}

#middle-initial-wrapper, #legal-middle-initial-wrapper {
    float: left;
    margin-right: 15px;
}

#NameMiddle, #LegalNameMiddle {
    width: 25px;
}


#month-wrapper{
    float:left;
    margin-right:15px;
}

#day-wrapper{
    float:left;
    margin-right:15px;
}


#address1-wrapper input{
    width:270px;
}

#address2-wrapper input{
    width:270px;
}

#year-wrapper{
    float:left;
}

#city-wrapper{
    float:left;
    margin-right:15px;
}

#state-wrapper{
    float:left;
    margin-right:15px;
}

#State{
    width:75px;
}

#zip-wrapper{
    float:left;
}

#PostalCode{
    width:55px;
}

#DeliveryOptionID{
    width:150px;
}

#EmailAddress{
    width:270px;
}

#Password{
    width:55px;
}

#Password2{
    width:55px;
}

.description{
    font-size:smaller;
}

#dlbutton{
    margin-bottom:15px;
}

#register-button{
    margin:10px 0px;
}


#NameLast, #NameFirst, #LegalNameLast, #LegalNameFirst {
    width:140px;
}
