﻿body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 10px 5px 10px;
    margin: 15px 0 5px 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#container{
    padding-left:10px;
    padding-top:10px;
}

#select-branch-list {
    width:500px;
}

#patron-barcode {
    font-weight:bold;
    font-size: 125%;
}

.hide-this {
    display: none !important;
}

#mailing-list-wrapper {
    padding-top: 5px;
}

#other-school-name {
    margin-top: 8px;
}