﻿@model PatronRegistration.Models.Registration

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Register", "Home", FormMethod.Post)) {
    @Html.ValidationSummary()
    
    <fieldset>
        <legend>Registration Library</legend>
        <div id="branch-wraper" class="form-item">
            @Html.LabelFor(m=>m.PatronBranchID)
            @Html.DropDownListFor(m => m.PatronBranchID, new SelectList(Model.Branches, "OrganizationID", "Name", Model.PatronBranchID), " -- Please select your library --")
        </div>
        
    </fieldset>
    
    <fieldset id="name-fieldset">
        <legend>Name</legend>
        <div id="first-name-wrapper" class="form-item">
            @Html.LabelFor(m => m.NameFirst)
            @Html.EditorFor(m => m.NameFirst)
        </div>

        <div id="middle-initial-wrapper" class="form-item">
            @Html.LabelFor(m => m.NameMiddle)
            @Html.EditorFor(m => m.NameMiddle)
        </div>

        <div id="last-name-wrapper" class="form-item">
            @Html.LabelFor(m => m.NameLast)
            @Html.EditorFor(m => m.NameLast)
        </div>
    </fieldset>
    
    <fieldset id="birthdate-fieldset">
        <legend>Date of Birth</legend>
        @{
            var items = new SelectList(new[]
                   {
                       new SelectListItem {Text = "January", Value = "1"},
                       new SelectListItem {Text = "February", Value = "2"},
                       new SelectListItem {Text = "March", Value = "3"},
                       new SelectListItem {Text = "April", Value = "4"},
                       new SelectListItem {Text = "May", Value = "5"},
                       new SelectListItem {Text = "June", Value = "6"},
                       new SelectListItem {Text = "July", Value = "7"},
                       new SelectListItem {Text = "August", Value = "8"},
                       new SelectListItem {Text = "September", Value = "9"},
                       new SelectListItem {Text = "October", Value = "10"},
                       new SelectListItem {Text = "November", Value = "11"},
                       new SelectListItem {Text = "December", Value = "12"},
                   }, "Value", "Text");
        }
        <div id="month-wrapper" class="form-item">
            @Html.LabelFor(m => m.Month)
            @Html.DropDownListFor(m => m.Month, items, " ")
        </div>

        <div id="day-wrapper" class="form-item">
            @Html.LabelFor(m => m.Day)
            @Html.TextBoxFor(m => m.Day)
        </div>

        <div id="year-wrapper" class="form-item">
            @Html.LabelFor(m => m.Year)
            @Html.TextBoxFor(m => m.Year)
        </div>        
    </fieldset>
    
    
    <fieldset id="address-fieldset">
        <legend>Home Address</legend>
        <div id="address1-wrapper" class="form-item">
            @Html.LabelFor(m => m.StreetOne)
            @Html.EditorFor(m => m.StreetOne)
            <div class="description">Street address</div>
        </div>

        <div id="address2-wrapper" class="form-item">
            @Html.LabelFor(m => m.StreetTwo)
            @Html.EditorFor(m => m.StreetTwo)
            <div class="description">Apartment, suite, unit, etc.</div>
        </div>

        <div id="city-wrapper" class="form-item">
            @Html.LabelFor(m => m.City)
            @Html.EditorFor(m=>m.City)
        </div>

        <div id="state-wrapper" class="form-item">
            @Html.LabelFor(m => m.State)
            @Html.EditorFor(m => m.State)
        </div>

        <div id="zip-wrapper" class="form-item">
            @Html.LabelFor(m => m.PostalCode)
            @Html.TextBoxFor(m => m.PostalCode)
        </div>
    </fieldset>
    
    <fieldset id="notifications-fieldset">
        <legend>Notifications</legend>
        @{
            var options = new SelectList(new[]
                   {
                       new SelectListItem {Text = "Email", Value = "2"},
                       new SelectListItem {Text = "Phone", Value = "3"},
                       new SelectListItem {Text = "SMS", Value = "8"}
                   }, "Value", "Text");
        }


        <div id="preference-wrapper" class="form-item">
            @Html.LabelFor(m => m.DeliveryOptionID)
            @Html.DropDownListFor(m => m.DeliveryOptionID, options)
        </div>

        <div id="email-wrapper" class="form-item">
            @Html.LabelFor(m => m.EmailAddress)
            @Html.EditorFor(m => m.EmailAddress)
        </div>

        <div id="phone1-wrapper" class="form-item">
            @Html.LabelFor(m => m.PhoneVoice1)
            @Html.EditorFor(m => m.PhoneVoice1)            
            @Html.RadioButtonFor(m => m.TxtPhoneNumber, 1) Send SMS to this number
        </div>

        <div id="phone2-wrapper" class="form-item">
            @Html.LabelFor(m => m.PhoneVoice2)
            @Html.EditorFor(m => m.PhoneVoice2)
            @Html.RadioButtonFor(m => m.TxtPhoneNumber, 2) Send SMS to this number
        </div>
    </fieldset>
    
    
    <fieldset id="pin-fieldset">
        <legend>PIN</legend>

        <div id="pin1-wrapper" class="form-item">
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password)
        </div>

        <div id="pin2-wrapper" class="form-item">
            @Html.LabelFor(m => m.Password2)
            @Html.EditorFor(m => m.Password2)
        </div>
    </fieldset>
    
    
    <input type="submit" />
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
