﻿<form action="/account/apply" accept-charset="UTF-8" method="post" id="papi-card-application-form" class="papi_card_application-form">
<div><div id="not_accept_msg" class="error" style="display: none;"></div><fieldset class="name_fieldset" #weight="5" style="display: block;"><legend>Name:</legend><div class="form-item" id="edit-first-name-wrapper">
 <label for="edit-first-name">First name: <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="14" name="first_name" id="edit-first-name" size="18" value="" class="form-text required">
</div>
<div class="form-item" id="edit-middle-initials-wrapper">
 <label for="edit-middle-initials">MI: </label>
 <input type="text" maxlength="3" name="middle_initials" id="edit-middle-initials" size="2" value="" class="form-text">
</div>
<div class="form-item" id="edit-last-name-wrapper">
 <label for="edit-last-name">Last name: <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="18" name="last_name" id="edit-last-name" size="18" value="" class="form-text required">
</div>
</fieldset>
<input type="hidden" name="remote_patron" id="edit-remote-patron" value="remote">
<input type="hidden" name="form_build_id" id="form-2693e8aa78e3011b1e5a5483263cd165" value="form-2693e8aa78e3011b1e5a5483263cd165">
<input type="hidden" name="form_id" id="edit-papi-card-application-form" value="papi_card_application_form">
<fieldset class="agreement_fieldset" style="display: none;"><div class="form-item">
 
 <div class="description"><div id="borrow-agreement-text"><h3>Borrower's agreement</h3><p>It is my responsibility to:</p><ul><li>Keep my library account up to date with correct address, phone and e-mail address.</li><li>Let library staff know if my name changes.</li><li>Be financially responsible for material borrowed with this card.</li><li>Monitor the material my child selects and checks out on this card.</li><li>Pay all fines/charges for the late return, loss of or damage to all materials borrowed on this card.</li><li>Report a lost/stolen card immediately; I am solely responsible for items lost/stolen by someone using my lost/stolen card until I report my card lost/stolen.</li></ul><p>The library will:</p><ul><li>Hold parent/signator solely responsible for ensuring material borrowed by their child/ward is appropriate. The library's collection serves a wide diversity of patrons and therefore contains material some may feel is inappropriate.</li><li>Hold parent/signator of a minor (those age 17 and under) responsible for fines/charges for late return of or damage to material borrowed with this card until the card expires.</li></ul></div></div>
</div>
<div class="form-radios"><div class="form-item" id="edit-policy-yes-wrapper">
 <label class="option" for="edit-policy-yes"><input type="radio" id="edit-policy-yes" name="policy" value="yes" class="form-radio"> Accept</label>
</div>
<div class="form-item" id="edit-policy-no-wrapper">
 <label class="option" for="edit-policy-no"><input type="radio" id="edit-policy-no" name="policy" value="no" class="form-radio"> Do not accept</label>
</div>
</div></fieldset>
<fieldset class="birth_fieldset" style="display: block;"><legend>Date of birth:</legend><div class="form-item" id="edit-birth-mm-wrapper">
 <label for="edit-birth-mm">Month: <span class="form-required" title="This field is required.">*</span></label>
 <select name="birth_mm" class="form-select required" id="edit-birth-mm"><option value="Invalid"></option><option value="1">January</option><option value="2">February</option><option value="3">March</option><option value="4">April</option><option value="5">May</option><option value="6">June</option><option value="7">July</option><option value="8">August</option><option value="9">September</option><option value="10">October</option><option value="11">November</option><option value="12">December</option></select>
</div>
<div class="form-item" id="edit-birth-dd-wrapper">
 <label for="edit-birth-dd">Day: <span class="form-required" title="This field is required.">*</span></label>
 <select name="birth_dd" class="form-select required" id="edit-birth-dd"><option value="Invalid"></option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
</div>
<div class="form-item" id="edit-birth-year-wrapper">
 <label for="edit-birth-year">Year: <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="4" name="birth_year" id="edit-birth-year" size="4" value="" class="form-text required">
</div>
</fieldset>
<fieldset class="address_fieldset" style="display: block;"><legend>Home address:</legend><div class="form-item" id="edit-street-name-1-wrapper">
 <label for="edit-street-name-1">Address line 1: <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="34" name="street_name_1" id="edit-street-name-1" size="35" value="" class="form-text required">
 <div class="description">Street address</div>
</div>
<div class="form-item" id="edit-street-name-2-wrapper">
 <label for="edit-street-name-2">Address line 2: </label>
 <input type="text" maxlength="34" name="street_name_2" id="edit-street-name-2" size="35" value="" class="form-text">
 <div class="description">Apartment, suite, unit, etc.</div>
</div>
<div class="form-item" id="edit-city-wrapper">
 <label for="edit-city">City: <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="20" name="city" id="edit-city" size="18" value="" class="form-text required">
</div>
<div class="form-item" id="edit-state-wrapper">
 <label for="edit-state">State: </label>
 <input type="text" maxlength="20" name="state" id="edit-state" size="5" value="OHIO" disabled="disabled" class="form-text">
</div>
<div class="form-item" id="edit-zip-wrapper">
 <label for="edit-zip">ZIP code: <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="5" name="zip" id="edit-zip" size="5" value="" class="form-text required">
</div>
</fieldset>
<div class="form-item" id="edit-home-library-wrapper" style="display: block;">
 <label for="edit-home-library">Home library: <span class="form-required" title="This field is required.">*</span></label>
 <select name="home_library" class="form-select required" id="edit-home-library"><option value="34">Old Worthington Library</option><option value="33">Northwest Library</option><option value="35">Worthington Park Library</option></select>
</div>
<fieldset class="notifications_fieldset" style="display: block;"><legend>Notifications:</legend><div class="form-item" id="edit-reserve-notice-ind-wrapper" style="display: block;">
 <label for="edit-reserve-notice-ind">Notification preference: <span class="form-required" title="This field is required.">*</span></label>
 <select name="reserve_notice_ind" class="form-select required" id="edit-reserve-notice-ind"><option value="Email">E-mail</option><option value="Phone">Phone</option><option value="Text">Text Message</option></select>
 <div class="description">Choose how you'd like to be notified about your reserved library materials.</div>
</div>
<div class="form-item" id="edit-email-wrapper" style="display: block;">
 <label for="edit-email">E-mail address: </label>
 <input type="text" maxlength="50" name="email" id="edit-email" size="35" value="" class="form-text">
 <div class="description">Receive e-mail notifications about your library account and other library news.</div>
</div>
<div class="form-item" id="edit-subscribe-to-newsletter-wrapper">
 <label class="option" for="edit-subscribe-to-newsletter"><input type="checkbox" name="subscribe_to_newsletter" id="edit-subscribe-to-newsletter" value="1" checked="checked" class="form-checkbox"> Sign me up for library news!</label>
 <div class="description">Receive our monthly e-mail newsletter highlighting library events, book recommendations and other library resources and services.</div>
</div>
<div id="phone-numbers"><div id="phone-number"><div class="form-item" id="edit-areacode-wrapper">
 <label for="edit-areacode">Phone 1: </label>
 <input type="text" maxlength="3" name="areacode" id="edit-areacode" size="3" value="" class="form-text">
</div>
<div class="form-item" id="edit-homephone1-wrapper">
 <input type="text" maxlength="3" name="homephone1" id="edit-homephone1" size="3" value="" class="form-text">
</div>
<div class="form-item" id="edit-homephone2-wrapper">
 <input type="text" maxlength="4" name="homephone2" id="edit-homephone2" size="4" value="" class="form-text">
</div>
</div><div id="phone-number-mobile"><div class="form-item" id="edit-m-areacode-wrapper">
 <label for="edit-m-areacode">Phone 2: </label>
 <input type="text" maxlength="3" name="m_areacode" id="edit-m-areacode" size="3" value="" class="form-text">
</div>
<div class="form-item" id="edit-m-homephone1-wrapper">
 <input type="text" maxlength="3" name="m_homephone1" id="edit-m-homephone1" size="3" value="" class="form-text">
</div>
<div class="form-item" id="edit-m-homephone2-wrapper">
 <input type="text" maxlength="4" name="m_homephone2" id="edit-m-homephone2" size="4" value="" class="form-text">
</div>
</div></div><div class="form-radios phone_txt_flag"><div class="form-item" id="edit-send-TXT-1-wrapper">
 <label class="option" for="edit-send-TXT-1"><input type="radio" id="edit-send-TXT-1" name="send_TXT" value="1" class="form-radio phone_txt_flag"> Send text messages (SMS) to this number</label>
</div>
<div class="form-item" id="edit-send-TXT-2-wrapper">
 <label class="option" for="edit-send-TXT-2"><input type="radio" id="edit-send-TXT-2" name="send_TXT" value="2" class="form-radio phone_txt_flag"> Send text messages (SMS) to this number</label>
</div>
</div></fieldset>
<div class="form-item" id="edit-patron-pin-wrapper" style="display: block;">
 <label for="edit-patron-pin">PIN: </label>
 <input type="text" maxlength="4" name="patron_pin" id="edit-patron-pin" size="4" value="" class="form-text">
 <div class="description">Your PIN must be four numbers. Leave blank to use the last four digits of your phone number.</div>
</div>
<input type="submit" name="op" id="edit-submit" value="Submit application" class="form-submit papi_card_application-submit" style="display: inline-block;">

</div></form>