﻿<p>
    Welcome to the Plain City Public Library. Please feel free to contact a library staff person for any of your information needs, or if you have any questions or concerns about library programs and services. Hours of operation, loan periods, fine schedules, and contact information can be found in the library’s general information brochure or online at www.plaincitylib.org.
</p>

<div>
    For the first 30 days of library membership, patrons will be able to check out a variety of material in limited amounts.
    <ul>
        <li>New patrons may check out up to two (2) each of audiovisual materials and periodicals, then supplement their checkout with books for a grand total of 10 items per card (20 items per new household) then supplement their checkout with books for a grand total of 10 items per card (20 items per new household)</li>
        <li>Borrowing and Internet privileges will be suspended for any patron with fines and fees totaling $5.00 or more or with grossly overdue library material</li>
        <li>At the end of the 30 day new membership period, patrons will be automatically converted to a permanent member status unless borrowing privileges have been suspended</li>
        <li>Patrons who do not check out library material for a number of years may be removed from our patron database</li>
        <li>No LP Albums, Video Games OR Board Games/Puzzles can be borrowed during the 30 day new membership period</li>
    </ul>
</div>
<p>
    The Plain City Public Library offers a robust collection of books, periodicals, audiovisual materials, on-line databases, and programs for all ages. The Library's membership in the Central Ohio Library Consortium (CLC) affords our patrons access to well over 1 million items. New members can place requests for items from the convenience of home through the library’s online catalog. Simply follow the “Catalog” link from the library’s home page. Patrons can check their own accounts, renew eligible material, request materials, and manage holds.
</p>
<p>
    We hope you find your membership with the Plain City Public Library a value and a benefit. We are always interested to hear how we might make your membership even better. Please feel free to email Director Chris Long with suggestions at clong@plaincitylib.org. We appreciate your patronage and look forward to serving you.
</p>