﻿<p><b>In compliance with the Children's Online Privacy Protection Act, you must be 13 or older to complete this registration.</b></p>
<p><b>PLEASE NOTE: This application is for new cards only. If you need to renew or replace your library card, please visit the Customer Service Desk.</b></p>
<p>
    All applicants must be residents of Ohio.
    This application is a <b>CONTRACT</b>, so read it carefully. Complete and submit this form, and bring your photo ID with proof of current address to the Customer Service Desk.
</p>
<h2>
    Borrower's Agreement
</h2>   

I will
<ul>
    <li>Be financially responsible for material borrowed with this card.</li>
    <li>Inform the library if my residence or email address changes.</li>
    <li>Monitor the material my child selects and checks out on this card.</li>
    <li>Pay all fines/charges for the late return, loss of or damage to all material borrowed on this card.</li>
    <li>Report a lost/stolen card immediately; I am solely responsible for lost/stolen items on my card until I report it lost/stolen.</li>
</ul>

The library will
<ul>
    <li>Hold parent/guardian solely responsible for ensuring material borrowed by their child/ward is appropriate. The library's collection serves a wide diversity of customers and therefore contains material some feel is inappropriate.</li>
    <li>Hold parent/guardian of a minor (those age 17 and under) responsible for fines/charges for late return of or damage to material borrowed with this card until the card expires.</li>
</ul>