﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans%7CMontserrat%7CRoboto%7CRaleway:400,700&amp;subset=latin);

body {
    font-family: 'Roboto', sans-serif;
    color: #403633;
}

#container {
    margin: 0 auto !important;
    max-width: 800px;
}

div#body::before {
    content: url(https://www.ualibrary.org/sites/default/files/uapl_header_logo_791x111.png);
    margin-left: -1em;
}

h2 {
    margin-top: 2.5em;
    margin-bottom: 2em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: #403633;
    text-transform: uppercase;
}


form#registration-form {
    margin-bottom: 150px;
}

#register-button {
    margin: 10px 0px;
    background-color: #337ab7;
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 0.5em;
    border-radius: 5px;
}

    #register-button:hover {
        background-color: #626466;
    }
