﻿@model PatronRegistration.RegistrationAgreementModel

@{
    ViewBag.Title = "Registration Agreement";
}

@using (Html.BeginForm("Agreement", "Registration", FormMethod.Post))
{
    <div style="width:75%">
        @Html.Raw(Model.WarningText)
    </div>
    
    @Html.HiddenFor(m=>m.OrganizationID)
    <button name="answer" value="True" type="submit">@Model.ConfirmButtonText</button>
    <button name="answer" value="False" type="submit">@Model.CancelButtonText</button>
}