﻿@model PatronRegistration.Models.Registration

@{
    ViewBag.Title = "New Library Card Application";
}

<h2>New Library Card Registration</h2>

@if (!string.IsNullOrWhiteSpace(Model.Settings.RegistrationHeader))
{
    @Html.Raw(Model.Settings.RegistrationHeader)
}

@if (Model.ShowDlButton)
{
    <button onclick="dl()" id="dlbutton">@Model.Settings.DriversLicenseButtonText</button>
}

<div id="alert" class="alert alert-danger" style="display:none;"></div>

@using (Html.BeginForm("Create", "Registration", FormMethod.Post, new { id = "registration-form" }))
{
    @Html.ValidationSummary()

    @*<fieldset>*@
    @*<legend class="required">Home Library</legend>*@
    <div id="branch-wrapper" class="form-item">
        @Html.LabelFor(m => m.PatronBranchID, new { @class = "required" })
        @{ if (Model.Settings.EnablePatronBranchSelectOption && !Model.Settings.ResetForm) { Model.PatronBranchID = 0; Model.RequestPickupBranchID = 0; } }
        @Html.DropDownListFor(m => m.PatronBranchID, Model.Branches, " -- Please select your library --")
    </div>

    <div id="ecard-checkbox">
        @if (Model.Settings.DisplayECardCheckbox)
        {
            @Html.CheckBoxFor(m => m.IsECard, new { onClick = "$('#schoolinfo-fieldset').toggleClass('hide-this');" })
            <label for="IsECard">@Model.Settings.ECardCheckboxLabel</label>
        }
    </div>

    @*</fieldset>*@
    //@Html.Hidden("ZipMismatchRetry", Model.ZipMismatchRetry)
    <input type="hidden" name="ZipMismatchRetry" value="@Model.ZipMismatchRetry.ToString()" />
    <input type="hidden" name="LibraryId" value="@Model.LibraryId" />
    <input type="hidden" name="ResetForm" value="@Model.Settings.ResetForm.ToString()" />
    <input type="hidden" name="LogonUserID" value="3772" />

    <fieldset id="name-fieldset">
        <legend>Name</legend>
        <div id="first-name-wrapper" class="form-item">
            @Html.LabelFor(m => m.NameFirst, new { @class = "required" })
            @Html.EditorFor(m => m.NameFirst)
        </div>

        <div id="middle-initial-wrapper" class="form-item">
            @Html.LabelFor(m => m.NameMiddle)
            @Html.EditorFor(m => m.NameMiddle)
        </div>

        <div id="last-name-wrapper" class="form-item">
            @Html.LabelFor(m => m.NameLast, new { @class = "required" })
            @Html.EditorFor(m => m.NameLast)
        </div>

        @if (Model.Settings.EnableLegalNameCheckbox)
        {
            <input type="checkbox" id="useLegalNameCheckbox" name="useLegalNameCheckbox" onchange="$('#legal-name').toggleClass('hide');" />
            <label for="useLegalNameCheckbox">@Model.Settings.LegalNameCheckboxLabel</label>

            <div id="legal-name" class="hide" style="display:flex;">
                <div id="legal-first-name-wrapper" class="form-item">
                    @Html.LabelFor(m => m.LegalNameFirst)
                    @Html.EditorFor(m => m.LegalNameFirst)
                </div>

                <div id="legal-middle-initial-wrapper" class="form-item">
                    @Html.LabelFor(m => m.LegalNameMiddle)
                    @Html.EditorFor(m => m.LegalNameMiddle)
                </div>

                <div id="legal-last-name-wrapper" class="form-item">
                    @Html.LabelFor(m => m.LegalNameLast)
                    @Html.EditorFor(m => m.LegalNameLast)
                </div>
            </div>
        }
        @{ var genders = new SelectList(new[]
                                         {
new SelectListItem {Text = "Male", Value = "M"},
new SelectListItem {Text = "Female", Value = "F"},
new SelectListItem {Text = Model.Settings.NaGenderText, Value = "N"}
}, "Value", "Text"); }

        @if (!Model.Settings.HideGender)
        {
            <div id="gender-wrapper" class="form-item">
                @Html.LabelFor(m => m.GenderID)
                @Html.DropDownListFor(m => m.GenderID, Model.Genders, " ")
            </div>
        }

    </fieldset>

    <fieldset id="birthdate-fieldset">
        <legend>Date of Birth</legend>
        @{
            var items = new SelectList(new[]
                    {
new SelectListItem {Text = "January", Value = "1"},
new SelectListItem {Text = "February", Value = "2"},
new SelectListItem {Text = "March", Value = "3"},
new SelectListItem {Text = "April", Value = "4"},
new SelectListItem {Text = "May", Value = "5"},
new SelectListItem {Text = "June", Value = "6"},
new SelectListItem {Text = "July", Value = "7"},
new SelectListItem {Text = "August", Value = "8"},
new SelectListItem {Text = "September", Value = "9"},
new SelectListItem {Text = "October", Value = "10"},
new SelectListItem {Text = "November", Value = "11"},
new SelectListItem {Text = "December", Value = "12"},
}, "Value", "Text");
        }
        <div id="month-wrapper" class="form-item">
            @Html.LabelFor(m => m.Month, new { @class = "required" })
            @Html.DropDownListFor(m => m.Month, items, " ")
        </div>

        <div id="day-wrapper" class="form-item">
            @Html.LabelFor(m => m.Day, new { @class = "required" })
            @Html.TextBoxFor(m => m.Day, new { @length = 2, @size = 2, @maxlength = 2 })
        </div>

        <div id="year-wrapper" class="form-item">
            @Html.LabelFor(m => m.Year, new { @class = "required" })
            @Html.TextBoxFor(m => m.Year, new { @length = 4, @size = 4, @maxlength = 4 })
        </div>
    </fieldset>


    <fieldset id="address-fieldset">
        <legend>Home Address</legend>
        <div id="address1-wrapper" class="form-item">
            @Html.LabelFor(m => m.StreetOne, new { @class = "required" })
            @Html.EditorFor(m => m.StreetOne)
            <div class="description">Street address</div>
        </div>

        <div id="address2-wrapper" class="form-item">
            @if (!string.IsNullOrWhiteSpace(Model.Address2LabelOverride))
            {
                @Html.LabelFor(m => m.StreetTwo, Model.Address2LabelOverride, new { @class = "required" })
            }
            else
            {
                @Html.LabelFor(m => m.StreetTwo)
            }
            @Html.EditorFor(m => m.StreetTwo)
            @if (string.IsNullOrWhiteSpace(Model.Address2LabelOverride))
            {
                <div class="description">Apartment, suite, unit, etc.</div>
            }
        </div>

        <div id="city-wrapper" class="form-item">
            @Html.LabelFor(m => m.City, new { @class = "required" })
            @Html.EditorFor(m => m.City)
        </div>

        <div id="state-wrapper" class="form-item">
            @Html.LabelFor(m => m.State, new { @class = "required" })
            @Html.EditorFor(m => m.State)
        </div>

        <div id="zip-wrapper" class="form-item">
            @Html.LabelFor(m => m.PostalCode, new { @class = "required" })
            @Html.TextBoxFor(m => m.PostalCode, new { @maxlength = "5" })
        </div>
    </fieldset>
    var studentOptions = new SelectList(new[]
    {
        new SelectListItem {Text = "Barrington ES Student", Value="Barrington Elementary School"},
        new SelectListItem {Text = "Greensview ES Student", Value="Greensview Elementary School"},
        new SelectListItem {Text = "Hastings MS Student", Value="Hastings Middle School"},
        new SelectListItem {Text = "Jones MS Student", Value="Jones Middle School"},
        new SelectListItem {Text = "Tremont ES Student", Value="Tremont Elementary School"},
        new SelectListItem {Text = "UAHS Student", Value="UA High School"},
        new SelectListItem {Text = "Wickliffe ES Student", Value="Wickliffe Elementary School"},
        new SelectListItem {Text = "Windermere ES Student", Value="Windermere Elementary School"},
        new SelectListItem {Text = "Homeschool", Value="Homeschool"},
        new SelectListItem {Text = "Other", Value="Other"}
    }, "Value", "Text");

    var teacherOptions = new SelectList(new[]
    {
        new SelectListItem {Text ="Barrington ES", Value="Barrington Elementary School"},
        new SelectListItem {Text ="Greensview ES", Value="Greensview Elementary School"},
        new SelectListItem {Text ="Hastings MS", Value="Hastings Middle School"},
        new SelectListItem {Text ="Jones MS", Value="Jones Middle School"},
        new SelectListItem {Text ="Tremont ES", Value="Tremont Elementary School"},
        new SelectListItem {Text ="UAHS", Value="UA High School"},
        new SelectListItem {Text ="Wickliffe ES", Value="Wickliffe Elementary School"},
        new SelectListItem {Text ="Windermere ES", Value="Windermere Elementary School"},
        new SelectListItem {Text ="Homeschool", Value="Homeschool"},
        new SelectListItem {Text ="School Not Listed", Value="Other School"}
    }, "Value", "Text");

    if (Model.Settings.SchoolInfoFormat == "uapl")
    {
        @Html.HiddenFor(m => m.User1)

        <fieldset id="schoolinfo-fieldset">
            <legend>@Model.Settings.SchoolInfoFieldLegend</legend>
            <div id="user4-wrapper" class="form-item">
                <div id="schoolinfo-student">
                    @Html.CheckBox("uastudent", false) @Html.Label("uastudentlabel", "I am currently a student at a UA School.", new { style = "display:inline", @for = "uastudent", onClick = "$('#uastudent').click()" })
                    @Html.DropDownList("ua-student-dropdown", studentOptions, "- Select -", new { @class = "hide-this", aria_label = "UA Student Schools", style = "display:block", onChange = "if (this.selectedIndex == this.length-1) { $('#other-school-name').removeClass('hide-this'); } else { updateUser1(this.value);$('#other-school-name').addClass('hide-this');$('#otherSchoolName').val(''); }" })
                </div>

                <div id="schoolinfo-teacher">
                    @Html.CheckBox("uateacher", false) @Html.Label("uateacherlabel", "I am applying for a Teacher/Educator Card.", new { style = "display:inline", @for = "uateacher", onClick = "$('#uateacher').click()" })
                    @Html.DropDownList("ua-teacher-dropdown", teacherOptions, "- Select -", new { @class = "hide-this", aria_label = "UA Teacher Schools", style = "display:block", onChange = "if (this.selectedIndex == this.length-1) { $('#other-school-name').removeClass('hide-this'); } else { updateUser1(this.value);$('#other-school-name').addClass('hide-this');$('#otherSchoolName').val(''); }" })
                </div>

                <div id="other-school-name" class="hide-this">
                    @Html.Label("Your School's Name", new { @for = "otherSchoolName" })
                    @Html.TextBox("otherSchoolName", "", new { onChange = "updateUser1(this.value)" })
                </div>
            </div>
        </fieldset>
    }


    <fieldset id="notifications-fieldset">
        <legend>Notifications</legend>
        @{
            var options = new SelectList(new[]
                    {
new SelectListItem {Text = "Email", Value = "2"},
new SelectListItem {Text = "Phone", Value = "3"},
new SelectListItem {Text = "SMS (Text)", Value = "8"}
}, "Value", "Text");
        }

        <div id="preference-wrapper" class="form-item">
            @Html.LabelFor(m => m.DeliveryOptionID, new { @class = "required" })
            @Html.DropDownListFor(m => m.DeliveryOptionID, options)
        </div>

        <div id="email-wrapper" class="form-item">
            @Html.LabelFor(m => m.EmailAddress, new { @class = Model.Settings.RequireEmail ? "required" : "" })
            <input class="text-box single-line valid" data-val="true" data-val-notrequired="" id="EmailAddress" name="EmailAddress" type="text" value="@Model.EmailAddress" data-cip-id="EmailAddress" aria-describedby="EmailAddress-error">

            @if (Model.Settings.DisplayMailingListCheckbox)
            {
                <div id="mailing-list-wrapper">
                    @Html.CheckBoxFor(m => m.AddToMailingList, new { style = "display:inline;" })
                    @Html.LabelFor(m => m.AddToMailingList, Model.Settings.MailingListCheckboxLabel, new { style = "display:inline;" })
                    @Html.Raw(Model.Settings.MailingListDescriptionHtml)
                </div>
            }
        </div>

        <div id="phone1-wrapper" class="form-item">
            @Html.LabelFor(m => m.PhoneVoice1, new { @class = Model.Settings.RequirePhone1 ? "required" : "" })
            @Html.EditorFor(m => m.PhoneVoice1)
            @Html.RadioButton("TxtPhoneNumber", 1, new { id = "p1txtrb" }) @Html.LabelFor(m => m.TxtPhoneNumber, new { @for = "p1txtrb", style = "display:inline;" })
        </div>

        <div id="phone2-wrapper" class="form-item">
            @Html.LabelFor(m => m.PhoneVoice2)
            @Html.EditorFor(m => m.PhoneVoice2)
            @Html.RadioButton("TxtPhoneNumber", 2, new { id = "p2txtrb" })@Html.LabelFor(m => m.TxtPhoneNumber, new { @for = "p2txtrb", style = "display:inline;" })
        </div>

        @if (!Model.Settings.HideEreceipt)
        {
            if (Model.Settings.RequireEreceipt)
            {
                <div id="ereceipt-wrapper" class="form-item">
                    @Html.LabelFor(m => m.ReceiveEreceipts, new { @class = "required" })
                    @Html.EditorFor(m => m.ReceiveEreceipts, "YesNoBool")
                </div>
            }
            else
            {
                <div id="ereceipt-wrapper" class="form-item">
                    @Html.LabelFor(m => m.ReceiveEreceipts, new { @class = "required" })
                    @Html.EditorFor(m => m.ReceiveEreceipts, "YesNoBoolDefaultNo")
                </div>
            }
        }
        else
        {
            @Html.Hidden("ReceiveEreceipts", false)
        }
    </fieldset>

    if (Model.Settings.DisplayPreferredPickupLocation)
    {
        <fieldset id="preferred-pickup-fieldset">
            <legend>Preferred Hold Pickup Location</legend>
            <div id="preferred-pickup-location-wrapper" class="form-item">
                @Html.LabelFor(m => m.RequestPickupBranchID, new { @class = Model.Settings.RequirePreferredPickupLocation ? "required" : "" })
                @Html.DropDownListFor(m => m.RequestPickupBranchID, Model.PickupBranches, "--")
            </div>
        </fieldset>
    }

    <fieldset id="pin-fieldset">
        <legend>PIN - 4 Digits (0-9)</legend>

        <div id="pin1-wrapper" class="form-item">
            @Html.LabelFor(m => m.Password, new { @class = "required" })
            @Html.EditorFor(m => m.Password, new { @maxlength = "5" })
        </div>

        <div id="pin2-wrapper" class="form-item">
            @Html.LabelFor(m => m.Password2, new { @class = "required" })
            @Html.EditorFor(m => m.Password2, new { @maxlength = "5" })
        </div>
    </fieldset>

    if (Model.Settings.DisplayResponsiblePersonField)
    {
        <fieldset id="name-fieldset">
            <legend>Responsible Person</legend>
            <div id="first-name-wrapper" class="form-item">
                @Html.EditorFor(m => m.User5)
                @Html.Raw(Model.Settings.ResponsiblePersonDisclaimer)
            </div>
        </fieldset>
    }

    if (Model.Settings.ResetForm)
    {
        <button id="register-button" class="btn btn-default btn-lg" type="button" onclick="submitForm()">Submit Registration</button>
    }
    else
    {
        <button id="register-button" class="btn btn-default btn-lg" type="submit">Submit Registration</button>
    }

    if (!string.IsNullOrWhiteSpace(Model.Settings.CustomFormFooterHtml))
    {
        @Html.Raw(Model.Settings.CustomFormFooterHtml);
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>
    <script>
        function updateUser1(newValue) {
            document.getElementById('User1').value = newValue;
            console.log(document.getElementById('User1').value);
        }

        function uaStudentCheckboxClick(e) {
            $('#ua-student-dropdown').toggleClass('hide-this');
            $('#schoolinfo-teacher').toggleClass('hide-this');
            $('#ecard-checkbox').toggleClass('hide-this');
            $('#AddToMailingList').prop('checked', !e.target.checked);
            $('#ua-student-dropdown').val(null);

            if (!e.target.checked) { $('#other-school-name').addClass('hide-this'); $('#ua-student-dropdown').prop('selectedIndex', 0);}

        }

        function uaTeacherCheckboxClick(e) {
            $('#ua-teacher-dropdown').toggleClass('hide-this');
            $('#schoolinfo-student').toggleClass('hide-this');
            $('#ecard-checkbox').toggleClass('hide-this');

            if (!e.target.checked) { $('#other-school-name').addClass('hide-this'); $('#ua-teacher-dropdown').prop('selectedIndex', 0); }
        }

        document.getElementById("uastudent").addEventListener("click", uaStudentCheckboxClick);
        document.getElementById("uateacher").addEventListener("click", uaTeacherCheckboxClick);


        function submitForm() {
            if ($('form').valid()) {
                $('#registration-form').submit();
                document.forms[0].reset();

                setTimeout(function () {
                    $('input').removeClass('input-validation-error');
                    $('select').removeClass('input-validation-error');
                }, 50);

                setTimeout(function () {
                    $('input').removeClass('input-validation-error');
                    $('select').removeClass('input-validation-error');
                }, 150);

                $('input').removeClass('input-validation-error');
                $('select').removeClass('input-validation-error');
            }
        }

        $('#PhoneVoice1').mask("(999) 999-9999");
        $('#PhoneVoice2').mask("(999) 999-9999");

        $(function () {
            $('#NameLast, #Month, #Day, #Year').blur(function () { dupecheck(); agecheck(); });
            $('#Month, #Day, #Year').change(function () { ageCheckShown = false; });
        });

        function dl() {

            var dlinfo = window.prompt("@Model.Settings.DriversLicensePromptText");

            $.post(
                "/registration/dl",
                { dlinfo: dlinfo, format: "@Model.Settings.DriversLicenseFormat" },
                function (data) {
                    $('#NameFirst').val(data.FirstName);
                    $('#NameMiddle').val(data.MiddleName);
                    $('#NameLast').val(data.LastName);
                    $('#StreetOne').val(data.Address);
                    $('#City').val(data.City);
                    $('#State').val(data.State);
                    $('#PostalCode').val(data.ZIP);
                    $('#Gender').val(data.Gender);
                    if (data.BirthMonth !== 0) { $('#Month').val(data.BirthMonth); }
                    if (data.BirthDay !== 0) { $('#Day').val(data.BirthDay); }
                    if (data.BirthYear !== 0) { $('#Year').val(data.BirthYear); }
                })

            dupecheck();
            }

        function dupecheck() {
            $.post("/registration/dupecheck",
                    {
                    NameFirst: $('#NameFirst').val(),
                    NameLast: $('#NameLast').val(),
                    LibraryId: @Model.LibraryId,
                    PatronBranchID: $('#PatronBranchID').val(),
                    Month: $('#Month').val(),
                    Day: $('#Day').val(),
                    Year: $('#Year').val()
                }, function (data) {
                    console.log(data);
                    if (data === "True") {
                        $('#alert').show();
                        $.ajax("/registration/DuplicateMessage/" + $('#PatronBranchID').val())
                            .done(function (data) {
                                    $("#body").html(data);
                        });
                        window.scrollTo(0, 0);
                    }
                });
        }
        var ageCheckShown = false;

        function agecheck() {
            if (!ageCheckShown) {
                $.get("/registration/agecheck",
                    {
                        LibraryId: @Model.LibraryId,
                        PatronBranchID: $('#PatronBranchID').val(),
                        Month: $('#Month').val(),
                        Day: $('#Day').val(),
                        Year: $('#Year').val()
                    }, function (data) {
                        if (data) {
                            alert(data);
                            ageCheckShown = true;
                        }
                });
            }
        }


    </script>

}
