﻿@model bool

@{
    ViewBag.Title = "ManageAutoReset";
}

<h2>Manage Form Auto-Reset</h2>

<p>Auto reset is currently: @(Model ? "Enabled" : "Disabled")</p>

@Html.ActionLink("Enable Auto-Reset", "ManageAutoReset", new { enable = true })
@Html.ActionLink("Disable Auto-Reset", "ManageAutoReset", new { enable = false })
