﻿@model List<PatronRegistration.Data.Organization>
@{
    ViewBag.Title = "Choose your library";
}

<h2>Choose your library</h2>

<div class="list-group" id="select-branch-list">
    @foreach (var branch in Model)
    {
        @Html.ActionLink(branch.DisplayName, "Create", "Registration", new { id = branch.OrganizationID }, new { @class = "list-group-item" })
    }
</div>