﻿@model PatronRegistration.Models.RegistrationSuccessModel

@{
    ViewBag.Title = "Registration Successful";
}

<h2>Your library card registration was successful</h2>

<div style="width:75%;">
    @Html.Raw(Model.DisplayText)
    <br />
    <br />
    @if (Model.ResetForm)
    {
        @Html.ActionLink("Create another registration", "Create", "Registration", null, new { orgid = Model.Branch, autoReset = Model.ResetForm ? "true" : null })
    }
    else
    {
        @:Click <a href=@("https://catalog.clcohio.org/polaris?ctx=" + Model.Branch)>here</a> to return to the catalog.
    }
</div>

@if (Model.ResetForm)
{
    <script>
        setTimeout(function () { window.location.href = '@Url.Action("Create", "Registration", new { id = Model.Branch, autoReset = true })'; }, 30000);
    </script>
}