﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")

    @if (Session["orgid"] != null)
    {
        @CustomCssHelper.CustomCss((int)Session["orgid"])
    }

    @RenderSection("head", required: false)
</head>
<body>
    <div id="container">
        @if (Session["orgid"] != null)
        {
            @HeaderImageHelper.HeaderImage((int)Session["orgid"])
        }
        <div id="body">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
